<div>
    <h1>{{title}}</h1>
    <div style="float:left; background-color:darkgrey; padding: 30px; border-radius: 25px;">
        <p>these are the tools I used to build this page:</p>
        <ul>
            {{#each tools}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div style="float:left; background-color:coral; padding: 30px; border-radius: 25px;">
        <p>Here are the skills I have: </p>
        <ul>
            {{#each skills}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>

    <div style="float:left; background-color:gainsboro; padding: 30px; border-radius: 25px;">
        <div>Education: </div>
        <div>
            Bachelor of Science: Honours Double Major in</br>
            Mathematics and Statistics</br>
            University of Toronto - Toronto, ON</br>
            </br>
            Advanced Diploma: Computer Programming and</br>
            Analysis Co-op</br>
            Georgian College of Applied Arts and Technology -</br>
            Barrie, ON</br>
        </div>
    </div>

    <div style="float:left; background-color:palegreen; padding: 30px; border-radius: 25px;">
        <div>Work Experience: </div>
        <div>
            <h4>Database Administrator</h4>
            Sun Life Financial, Richmond Hill, ON</br>
            • Managed and analyzed customer information to</br>
            provide detailed client information that helped with</br>
            cross-selling business strategy utilizing Salesforce</br>
            Cloud database</br>
            • Generated daily ad hoc business analysis and</br>
            reports for Sun Life's insurance sales information</br>
            leveraging Excel</br>
            • Worked closely with insurance brokers to maintain</br>
            optimum levels of communication to effectively and</br>
            efficiently complete projects.</br>
        </div>
    </div>
</div>
</div>