<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.container {
  border-radius: 5px;
  background-color:antiquewhite;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

</style>
</head>
<body>
<div class="container">
  <div style="text-align:center">
    <h2>Contact Me</h2>
  </div>
  <div class="row">
    <div class="column">
      <img src="/images/shenzhen.jpeg" style="width: 550px; height: 700px; margin-left: 50px">
    </div>
    <div class="column">
      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email Address">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="china">China</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Message" style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

</body>
</html>
