<div style="float:left; margin-left: 200px;">
    <p>
        <img src="/images/profilepic.jpeg" alt="profile" width="500" height="500">
    </p>
</div>
<div style="float:right; margin-right: 100px; margin-top:100px; background-color:beige; padding: 100px; border-radius: 25px;">
    <div>Name: Simian Feng</div>
    <div>Date of birth: 1996/07/28</div>
    <div>Location: Toronto, ON</div>
    <div>Email: 200473250@student.georgianc.on.ca</div>
</div>