<h1>{{title}}</h1>
<div style="float:left; background-color:aliceblue; padding: 30px; border-radius: 25px;">
    <h4 style="margin-bottom: 0px;">
        <a class = "project1" href = "https://github.com/simianfeng/chrono-analyzer" style="text-decoration: none; color:black">
            Chrono-analyzer
        </a></h4></br>
    • Built a website crawler with Ruby, to fetch</br>
    watches’ information</br>
    • Trained a machine learning model with Python</br>
    to recognize brand and predict price</br>
    • Designed and implemented a watch</br>
    recognition website with React Js and Node.js</br>
</div>
<div style="float:left; background-color:azure; padding: 30px; border-radius: 25px;">
    <h4 style="margin-bottom: 0px;">
        <a class = "project2" href = "https://github.com/simianfeng/covid-19-tracker" style="text-decoration: none; color:black">
            COVID 19 Track board</h4></br>
        </a>
    • Designed and implemented a covid-19 case</br>
    track board with React Js</br>
    • Pulled in real time Covid data from mathdroid</br>
    API and displayed them on the responsive user</br>
    interface</br>
</div>
<div style="float:left; background-color:blanchedalmond; padding: 30px; border-radius: 25px;">
    <h4 style="margin-bottom: 0px;">
        <a class = "project3" href = "https://github.com" style="text-decoration: none; color:black">
            Campaign Response Rate Prediction with SAS</h4></br>
        </a>
    • Imported data from various sources such as txt and csv into SAS, and wrote</br>
    complex SQL queries to process over 2 million customers’ behavior data</br>
    • Conducted exploratory data analysis, converted categorical variables into</br>
    numerical values through encoding and imputed missing values</br>
    • Utilized Stepwise method to select variables and built a Logistic Regression</br>
    model in SAS to predict the response rate for a marketing campaign, achieving</br>
    a model accuracy of 85%</br>
</div>